* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT-Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "PT-Sans" sans-serif;
    background-color: #000000;
    background-size: cover;
    overflow: hidden;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
    color: #000000;
}

.beta {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-rendering: geometricPrecision;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
    color: #fff;
}

.day,
.hour,
.min,
.sec {
    font-size: 3rem;
}

.bg {
    background-image: url('img1.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: rgb(0, 0, 0);
    transition: .2s;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.navbar .logo{
    padding-top: 50px;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 2rem;
    padding-top: 50px;
}

img{
    width: 80px;
    height: 70px;
}
.wait{
    padding-bottom: 8%;
    display: none;
}

@keyframes animate {
    0% {
        background-image: url('img1.jpg');
    }

    25% {
        background-image: url('img2.jpg');
    }

    50% {
        background-image: url('img3.jpg');
    }

    75% {
        background-image: url('img4.jpg');
    }

    100% {
        background-image: url('img5.jpg');
    }
}